/* Global Styles */

body {
  /* background: url("Media/concrete_seamless.png"); */
  background: rgb(204, 202, 201);

  font-family: "hypatia-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.intro-page-container {
  background-color: transparent;

  padding-top: 10px;
  padding-bottom: 224px;
}

.bottom-links {
  color: gray;
  margin-top: 700px;
}

/* Side menu styling */

#logo-menu {
  position: fixed;
}

.navbar-item img {
  max-height: 9em;
  width: 100%;
  padding: 20px;
  margin-left: 400px;
  position: relative;
}

#logo-menu {
  width: 127px;
  margin-top: 10px;
  margin-right: -25px;
  margin-left: -6px;
  position: relative;
}

.menu-list {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav a {
  display: block;
  padding-left: 30px;
  margin-left: 0px;
  line-height: 140px;
  color: #999;
  text-decoration: none;
  /* border-left: 1px solid #efefef; */
  transform: rotate(-90deg);
}

header {
  padding-right: 9px;
}
header.menu-list {
  line-height: 7.84;
}
.menu a:hover {
  background-color: transparent;
}
