/* Global Styles */

body {
  /* background: url("Media/concrete_seamless.png"); */
  background: rgb(204, 202, 201);
  font-family: "hypatia-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#intro-page-container {
  background-color: transparent;
}

/* Side menu styling */

#logo-menu {
  top: 0;
  left: 0;
  width: 120px;
  display: block;
  margin-top: 10px;
  position: relative;
  transform: rotate(90deg);
}

.menu-list {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
}

a {
  display: block;
  padding-left: 0px;
  margin-left: 0px;
  line-height: 130px;
  color: #999;
  text-decoration: none;
  /* border-left: 1px solid #efefef; */
  transform: rotate(-90deg);
  text-align: center;
}

nav {
}

.nav a:hover {
  background-color: white;
}

.has-text-white {
  color: white;
  text-decoration: none;
  text-align: center;
  transform: rotate(90deg);
}

.bottom-links {
  color: gray;
  margin-top: 700px;
}
